<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>home.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>Ecommerce_Manager_beta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductIndex</display-name>
    <servlet-name>ProductIndex</servlet-name>
    <servlet-class>product.ProductIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductIndex</servlet-name>
    <url-pattern>/product/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProduct</display-name>
    <servlet-name>CreateProduct</servlet-name>
    <servlet-class>product.CreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProduct</servlet-name>
    <url-pattern>/product/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>product.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/product/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>auth.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/auth/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>auth.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/auth/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>auth.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/auth/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDemand</display-name>
    <servlet-name>RegisterDemand</servlet-name>
    <servlet-class>auth.RegisterDemand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDemand</servlet-name>
    <url-pattern>/auth/register_demand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdmin</display-name>
    <servlet-name>EditAdmin</servlet-name>
    <servlet-class>admin.EditAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdmin</servlet-name>
    <url-pattern>/admin/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndex</display-name>
    <servlet-name>AdminIndex</servlet-name>
    <servlet-class>admin.AdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetails</display-name>
    <servlet-name>ProductDetails</servlet-name>
    <servlet-class>product.ProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetails</servlet-name>
    <url-pattern>/product/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleIndex</display-name>
    <servlet-name>ArticleIndex</servlet-name>
    <servlet-class>article.ArticleIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleIndex</servlet-name>
    <url-pattern>/article/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditArticle</display-name>
    <servlet-name>EditArticle</servlet-name>
    <servlet-class>article.EditArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditArticle</servlet-name>
    <url-pattern>/article/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleDetails</display-name>
    <servlet-name>ArticleDetails</servlet-name>
    <servlet-class>article.ArticleDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetails</servlet-name>
    <url-pattern>/article/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>image.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/image/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryIndex</display-name>
    <servlet-name>CategoryIndex</servlet-name>
    <servlet-class>category.CategoryIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryIndex</servlet-name>
    <url-pattern>/category/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCategory</display-name>
    <servlet-name>CreateCategory</servlet-name>
    <servlet-class>category.CreateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCategory</servlet-name>
    <url-pattern>/category/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ColorIndex</display-name>
    <servlet-name>ColorIndex</servlet-name>
    <servlet-class>color.ColorIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ColorIndex</servlet-name>
    <url-pattern>/color/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateColor</display-name>
    <servlet-name>CreateColor</servlet-name>
    <servlet-class>color.CreateColor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateColor</servlet-name>
    <url-pattern>/color/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SizeIndex</display-name>
    <servlet-name>SizeIndex</servlet-name>
    <servlet-class>size.SizeIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizeIndex</servlet-name>
    <url-pattern>/size/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSize</display-name>
    <servlet-name>CreateSize</servlet-name>
    <servlet-class>size.CreateSize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSize</servlet-name>
    <url-pattern>/size/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderIndex</display-name>
    <servlet-name>OrderIndex</servlet-name>
    <servlet-class>order.OrderIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderIndex</servlet-name>
    <url-pattern>/order/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDetails</display-name>
    <servlet-name>OrderDetails</servlet-name>
    <servlet-class>order.OrderDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetails</servlet-name>
    <url-pattern>/order/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIndex</display-name>
    <servlet-name>UserIndex</servlet-name>
    <servlet-class>user.UserIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/user/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>user.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/user/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailIndex</display-name>
    <servlet-name>MailIndex</servlet-name>
    <servlet-class>mail.MailIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailIndex</servlet-name>
    <url-pattern>/mail/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailDetails</display-name>
    <servlet-name>MailDetails</servlet-name>
    <servlet-class>mail.MailDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailDetails</servlet-name>
    <url-pattern>/mail/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMail</display-name>
    <servlet-name>CreateMail</servlet-name>
    <servlet-class>mail.CreateMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMail</servlet-name>
    <url-pattern>/mail/create</url-pattern>
  </servlet-mapping>
</web-app>